 <form method="POST" action="/landmarks/<%= @landmark.id%>/edit">
 	<label>Name: </label><input type="text" name="landmark[name]" id="name" value="<%= @landmark.name%>">
 	<label>Year Completed: </label>
 		<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed%>">
 	

 	<label>Figure: </label>
 		<select name="landmark[figure_id]" id="figure_id">
 			<% @figures.each do |figure|%>
	 			<option value="<%=figure.id%>" 
	 			<% if @landmark.figure_id == figure.id %>
 						selected
				<% end %> 
	 			>
	 				<%= figure.name %>
	 			</option>
 			<% end %>
 		</select>
 	<input type="submit" name="submit" value="Submit" id="Edit Landmark">
 </form>